:global {
  .component-slogan {
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    background-color: #1D1F20;
    color: #aaa;
    flex-direction: column;
    font-size: 30px;
    line-height: 1.4;
    &-name {
      // letter-spacing: 1px;
    }
    &-desc {
      margin-top: 10px;
      font-size: 18px;
      letter-spacing: 3px;
    }
  }
}