:global {
  .index {
    min-height: 100vh;
    // background-color: #191919;
    color: #fff;
    box-sizing: border-box;
    padding: 20px;
    background-color: rgba(25,25,25, .9);
    // border: 2px solid red;
  }
}