<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="App-Config" content="fullscreen=yes,useHistoryState=yes,transition=yes"/>
    <!-- <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests"> -->
    <meta content=yes name=apple-mobile-web-app-capable/>
    <meta content=yes name=apple-touch-fullscreen/>
    <meta content="telephone=no,email=no" name=format-detection/>
    <!-- <meta name="viewport"
        content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=0,viewport-fit=cover"> -->
    <meta name="viewport" content="width=device-width, initinpal-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="baidu-site-verification" content="code-gzh4i0WQX4" />
    <title>LaughingZhu's Blog</title>
    <!-- <link rel="icon" href="/favicon.png" type="image/x-icon"> -->
    <script src='<%= context.publickPath %>/bg_canvas.js' ></script>
    <script>

        // 百度统计
        console.log('--百度统计--');
        var _hmt = _hmt || [];
        _hmt.push(['_requirePlugin', 'UrlChangeTracker', {
            shouldTrackUrlChange: function (newPath, oldPath) {
                /**
                    query string相同的url不发送pv日志
                    newPath = newPath.split('?')[0];
                    oldPath = oldPath.split('?')[0];
                **/



                // 默认newPath和oldPath不相等的情况下触发
                return newPath && oldPath;
            }}
        ]);
        
        (function() {
            var hm = document.createElement("script");
            hm.src = "https://hm.baidu.com/hm.js?e891f95ca16f1e871d06c709e4995948";
            var s = document.getElementsByTagName("script")[0]; 
            s.parentNode.insertBefore(hm, s);
        })();


    </script>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-179551080-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-179551080-1');
    </script>

        

</head>

<body>
<noscript>Sorry, we need js to run correctly!</noscript>
<div id="root"></div>
</body>

</html>
