:global {
  .component-aside {
    width: 100%;
    // height: 100vw;
    height: calc(100vh - 50px);
    overflow: hidden;
    position: relative;
    flex-direction: column;
    justify-content: flex-start;
    &_info {
      width: 100%;
      height: 219px;
      flex-direction: column;
      &:hover {
        background: url(../../assets/img/snow.gif);
        background-size: cover;
      }
      &-avatar {
        width: 96px;
        height: 107px;
        background-image: url('../../assets/img/avatar.jpg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        border-radius: 50%;
        box-shadow: 2px 2px 3px transparent !important;
        transition: all 0.4s ease-out;
        cursor: pointer;
        &:hover {
          :local {
            // animation: rotation 1s cubic-bezier(0,0,.07,1) alternate;
            transform: rotate(360deg) scale(1.2);
            border-width: 5px;
            animation: avatar .5s cubic-bezier(0,0,.07,1) ;
          }
        }
      }
      &-name {
        margin-top: 10px;
        color: #eaebed!important;
        font-weight: 700;
      }
      &-slogan {
        font-size: 12px;
        box-sizing: border-box;
        padding: 0 10px;
        text-align: center;
        color: #8b8e99!important;
      }
    }

    &-container {
      flex: auto !important;
      width: 100%;
      height: 100%;
      overflow: hidden;
      box-sizing: border-box;
      flex-direction: column;
      justify-content: space-between;
      &_menu {
        flex: auto !important;
        width: 100%;
        height: 100%;
        overflow: scroll;

        // overflow: hidden;
        &_item {
          width: 100%;
          color: #8b8e99;
          &--title {
            box-sizing: border-box;
            padding: 0 15px;
            width: 100%;
            font-size: 12px;
          }
          &--children {
            box-sizing: border-box;
            padding: 12px 25px;
            width: 100%;
            justify-content: flex-start;
            &:hover {
              background-color: rgba(30, 144, 255, .2);
            }
            &--icon {
              font-size: 14px;
              color: #8b8e99;
            }
            &--label {
              padding-left: 10px;
              font-size: 14px;
              line-height: 1;
              cursor: pointer;
            }
          }
        }
      }
  
      &_tools {
        width: 220px;
        // height: 50px;
        justify-content: space-between;
        &_item {
          flex: auto !important;
          cursor: pointer;
          color: #8b8e99;
          flex-direction: column;
          &--icon {
            font-size: 18px;
            color: #8b8e99;
          }
          &--label {
            font-size: 14px;
            line-height: 2;
            cursor: pointer;
          }
        }
      }
    }
  }

  @keyframes avatar{
    from {
        transform: scale(1) rotate(0deg);
    }
    to {
        transform: scale(1.2) rotate(360deg);
    }
  }
}
