  .component-header {
    width: 100%;
    height: 100%;
    box-shadow: 0 1px 1px 1px rgba(0,0,0,.25);
    &_title {
      width: 220px;
      font-size: 14px;
      font-weight: 700;
      height: 100%;
      & > span {
        margin-left: 5px;
        font-size: 18px;
        cursor: pointer;
      }
    }
    &_container {
      width: calc(100% - 440px);
      height: 100%;
      box-sizing: border-box;
      padding: 0 20px;
      justify-content: flex-start;
      &_search {
        border-radius: 20px;
        width: 300px !important;
        .ant-select-selector {
          border-radius: 15px !important;
        }
      }
    }
    &_tools {
      width: 220px;
      height: 100%;
      &_item {
        height: 100%;
        flex: auto !important;
        &:hover {
          cursor: pointer;
          background-color: rgba(30, 144, 255, .2);
        }
        &_icon {
          
        }
      }
    }
  }